{
  "extends": ["prettier", "plugin:protractor/recommended"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "impliedStrict": true,
      "globalReturn": false
    }
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "browser": true,
    "$": true,
    "$$": true,
    "expect": true,
    "step": true
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true,
  },
  "rules": {
    "linebreak-style": 0,
    "global-require": 0,
    "eslint linebreak-style": [0, "error", "windows"],
    "prefer-arrow-callback": 0,
    "no-nested-ternary": 0,
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "no-empty": "error",
    "no-undef": "error",
    "class-methods-use-this": 0,
    "func-names": 0,
    "comma-dangle": 0,
    "max-len": 0,
    "no-console": 0,
    "no-param-reassign": 0,
    "new-cap": 0,
    "array-callback-return": 0,
    "no-cond-assign": ["error", "always"],
    "indent": ["error", 2],
    "semi": ["error", "always"],
    "protractor/no-by-xpath": 0,
    "protractor/missing-wait-message": 0,
    "protractor/no-repetitive-selectors": 0,
    "protractor/no-browser-sleep": 0,
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 120
      }
    ]
  },
  "plugins": ["prettier", "protractor"]
    // "env": {
    //     "es6": true,
    //     "mocha": true
    // },
    // "extends": "plugin:protractor/recommended",
    // "globals": {
    //     "Atomics": "readonly",
    //     "SharedArrayBuffer": "readonly"
    // },
    // "parserOptions": {
    //     "ecmaVersion": 2018,
    //     "sourceType": "module"
    // },
    // "rules": {
    //     "semi": ["error", "always"],
    //     "quotes": ["error", "double"],
    //     "indent": ["error", 4],
    //     "no-console": "error",
    //     "no-cond-assign": ["error", "always"],
    //     "no-inline-comments": "warn",
    // },
    // "plugins": ["protractor"]
}